
<div class="container">
	<h4>Ejemplo de Impresion en Ruby on Rails</h4>
	<p>se usaron 2 gemas pdfkit y prawn</p>
	<br>
	<br>
	<%=link_to 'PDF#1: con prawn', controller:'welcome', action:'print1'%>
	<br>
	<%=link_to 'PDF#1: con pdfkit', controller:'welcome', action:'print_pdfkit'%>
</div>
